body {
  background-color: #111;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

a {
  color: #0cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin: 10px 0;
}
